
body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: black;
    margin:0;
    background-color: white;
}

a, a:link{
    color:white;
    text-decoration: none;
}

a:hover{
    color:#696969;
}

ul{
    margin:0;
    list-style-type: none;
    color: black;
}

p, h2, h3{
    text-align: left;
    width:100%;
}

footer{
    font-size: 0.4em;
    padding: 0.02em 0;
}

/*Home page styling*/

/*Styling naviation bar and footer section*/
.web-nav{
    display:block;
    background-color:black;
    padding: 1em 0;
    margin-top:0em;
    text-align:center;
    text-decoration: none;
    border-bottom: 0.2em solid black;
    width:100%;
    float: left;
}

a:hover, .web-nav:hover, .mobile-nav:hover, .mobile-nav-dropdown:hover, .detail-info:hover{
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.web-nav:hover, .mobile-nav:hover, .mobile-nav-dropdown:hover{
    border-bottom: 0.2em solid #ED5C0C;
}

/*Styling for chef lists on homepage*/
.chef-border{
    display:inline-block;
    background-color:#696969;
    padding:8em 2em 14em 2em;
    text-align:left;
    color: white;
    width:100%;
    margin: 0em;
    margin-bottom:0.5;
    border-left: 0.05em solid white;
    transition: width 2s;
    -webkit-transition: width 2s; 
}

.chef-border:hover{
    float:left;
    color:black;
    width:400%;
    z-index:20;

}

/* mobile navigation for next week
.mobile-nav, .mobile-nav-dropdown{
    display:block;
    background-color:black;
    padding:1em 0;
    text-align:center;
    text-decoration: none;
    border-bottom: 0.02em solid black;
    width:100%;
 }

 */

/*purchase page styling*/

/*Styling for columns: purchase webpage*/
.purchase-item1, .purchase-item2, .purchase-item3{
    display: inline-block;
    margin-top: 0;
    padding-top: 2em;
    background-color: white;
    text-align:left;
    width:100%;
    color: black;
    border-bottom: 0.05em solid grey; 
    border-left: 0.05em solid grey; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.purchase-item1{
    padding-bottom:33.7em;
}

.purchase-item2{
    padding-bottom:1.3em;
}
.purchase-item3{
    padding-bottom:1em;
}

/*Styling image area, fill and buttom: purchase webpage*/

.image-box{
    background-color: #696969;
    border-left: 0.05em solid white; 
    color: white;
    margin-top: 0.5em;
    padding: 0.5em 1.5em 4em 1em;
    width:100%;
}

.icon{
    margin-left: 0.5em;
    background-color: #696969;
    width:20%;
    height:4%;
}

/*make column the same high*/
.placeholder{
    width:100%;
    height:52.9%;
}

.placeholder2{
    width:100%;
    height: 72.5%;
}

/*Styling fill in area: mostly at purchase webpage*/

.textfield{
    display:inline-block;
    margin-top: 0.4em;
    width:100%;
    height:5%;
}

.fillarea{
  border:0;
  margin-top: 1em;
  border-bottom: solid black; 
  font-weight:300;
  opacity:0.6;
  width:80%;
}

.default-buttom, .submit-buttom{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: black;
    background: white;
    width:100%;
}

.submit-buttom{
    padding: 1em 6em;
    font-weight: bold;
}

.default-buttom:hover, .submit-buttom:hover{
    opacity:0.4;
}

/*Event page*/

/*Styling upcoming page header*/
.upcoming-list{
    display:inline-block;
    background-color: #696969;
    padding:1em 0;
    text-align:center;
    color: white;
    width:100%;
}

/*upcoming page: detail information animation*/
.detail-info{
    display:block;
    opacity:0;
}

.detail-info:hover{
    opacity:1;
}

/*image sectino*/
.event-box{
    margin-top: 0.3em;
    background-color: #696969;
    padding: 0.5em 3em 8em 3em;
    color: white;
    border-left: 0.05em solid white; 
    width:100%;
}


