
body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: black;
    margin:0;
    background-color: white;
}

a, a:link{
    color:white;
    text-decoration: none;
    /*font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;*/
}

a:hover{
    color:#696969;
/*    font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;*/
}

ul{
    margin:0;
    margin-top:-1.5em;
    margin-bottom: 2em;
    list-style-type: none;
    color: black;
    float:left;
}

ol{
    list-style-type: none;
}

li{
    margin-left:0em;
}

p, h2, h3{
    text-align: left;
    width:100%;
}

h1 {
    font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
    font-size: 2.9rem;
    margin: -0.5rem 0;
}

h5 {
    font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    margin: -0.9rem 0;
}

footer{
    font-size: 0.5em;
    padding: 0.02em 0;
}

#footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

/*Home page styling*/

/*Styling naviation bar and footer section*/
.web-nav{
    display:block;
    background-color:black;
    padding: 1em 0;
    margin-top:0em;
    text-align:center;
    text-decoration: none;
    border-bottom: 0.2em solid black;
    width:100%;
	float: left;
}

a:hover, .web-nav:hover, .mobile-nav:hover, .mobile-nav-dropdown:hover, .detail-info:hover{
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.web-nav:hover, .mobile-nav:hover, .mobile-nav-dropdown:hover{
    border-bottom: 0.2em solid #ED5C0C;
}

/*Styling for chef lists on homepage*/
.chef-border,.chef-border2, .chef-border3{
    display:inline-block;
    width:100%;
    color: white;
    margin-top:0;
    transition: width 2s;
    -webkit-transition: width 2s; 

}


.chef-border{
    background-color:#696969;
    padding:8em 2em 16.67em 2em;
    text-align:left;
    border-left: 0.05em solid white;
  
}

.chef-border2{
    background-color: grey;
    padding:8em 2em 16.67em 2em;
    margin-bottom:0.5;
}

.chef-border3{
    background-color:#696969;
    padding-top:12em;
    padding-bottom:15.25em;
    padding-left:1em;
    margin-bottom:0.5;
    border-left: 0.05em solid white;

}

.chef-border:hover{
    color:black;
}

.underline{
     border-bottom: 0.1em solid white;
}
/*
.chef-border:hover{
    position:absolute;
    float:left;
    color:black;
    width:400%;
    z-index:20;

}

/* mobile navigation for next week
.mobile-nav, .mobile-nav-dropdown{
    display:block;
    background-color:black;
    padding:1em 0;
    text-align:center;
    text-decoration: none;
    border-bottom: 0.02em solid black;
    width:100%;
 }

 */

/*purchase page styling*/

/*Styling for columns: purchase webpage*/
.purchase-item1, .purchase-item2, .purchase-item3{
    display: inline-block;
    margin-top: 0;
    margin-left: 1em;
    padding-top: 2em;
    background-color: white;
    text-align:center;
    width:100%;
    color: black;
    border-bottom: 0.05em solid grey; 
    border-left: 0.05em solid grey; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.purchase-item1{
    padding-bottom:33.7em;
}

.purchase-item2{
    padding-bottom:1.3em;
}
.purchase-item3{
    padding-bottom:1em;
}

/*Styling image area, fill and buttom: purchase webpage*/

.image-box{
    background-color:white;
    border-left: 0.05em solid grey; 
    margin-top: 0.5em;
    width:100%;
}

.icon{
    margin-left:3em;
    background-color: #696969;

}

/*make column the same high*/
.placeholder{
    width:100%;
    height:52.9%;
}

.placeholder2{
    width:100%;
    height: 72.5%;
}

.placeholder3{
    width:100%;
    height: 9%;
}


/*Styling fill in area: mostly at purchase webpage*/

.textfield{
    display:inline-block;
    margin-top: 0.4em;
    width:100%;
    height:5%;
}

.fillarea{
  border:0;
  margin-top: 1em;
  border-bottom: solid black; 
  font-weight:300;
  opacity:0.6;
  width:80%;
}

.default-buttom, .submit-buttoml,.book-bottom{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: black;
    background: white;
    width:100%;
}

.submit-buttom{
    padding: 1em 6em;
    font-weight: bold;
}

.book-buttom{
    margin-left: 2em;
    padding: 0.5em 1em;
    font-weight: bold;
}

.default-buttom:hover, .submit-buttom:hover{
    opacity:0.4;
}

.checkbox input {
    position: relative;
    z-index: -9999;
}

.checkbox span {
    background-color: black;
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_resturant");
}

.checkbox input:checked + span {
    background: url("link_to_resturant");
}

/*Event page*/

/*Styling upcoming page header*/
.upcoming-list{
    display:inline-block;
    background-color: #696969;
    padding:1em 0;
    text-align:center;
    color: white;
    width:100%;
}

/* Upcoming page: detail information animation*/
.detail-info{
    display:block;
    opacity:0;
}

.detail-info:hover{
    opacity:1;
}

/*image sectino*/
.event-box{
    margin-top: 0.3em;
    background-color: #696969;
    padding: 0.5em 3em 8em 3em;
    color: white;
    border-left: 0.05em solid white; 
    width:100%;
}

/*About page*/
.about p{
    line-height: 1.5em;
	color: #999;
    display:inline-block;
    float: left;
}

.leftOf3 {
    float: left;
}

.middleOf3 {
    float: left;
}
.leftOf3 {
    float: left;
}

/* Details Page */
.leftAlign {
    text-align: left !important;
}

h1.name {
    font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
    font-size: 2.9rem;
    float: left;
    margin: 5rem 0 1rem 3.3rem;
}

p.title {
    padding: 10rem 0 1rem 3.4rem;
}

p.title1 {
    padding: 0rem 0 1rem 3.4rem;
}

li.aboutList {
    margin-left: 3.1rem;
    list-style-type: circle;
}

li.foodType {
    margin: 0.5rem 0rem 0.3rem 2rem;
}

li.foodType1 {
    margin: 3.7rem 0rem 0.3rem 2rem;
}

li.allergies {
    margin: 3.7rem 0rem 0.3rem 0rem;
}

.infoBook{
    display: inline-block;
    margin-top: 0;
    margin-left: 1em;
    padding-top: 3em;
    background-color: white;
    text-align:center;
    width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floatLeft {
    float:left;
}